*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo img{
    width: 150px;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0.2%;
}

html, body{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

header{
    height: 200px;
    padding: 20px 0;
}

.logo{
    width: 50%;
}

.menu{
    padding-top: 30px;
    width: 45%;
    text-align: right;
}

.menu a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 45px;
}

section.sobre{
    height: calc(100% - 200px);
    position: relative;
}

.extras{
    position: absolute;
    bottom: -50px;
    right: -250px;
    width: 800px;
    height: 600px;
    border-radius: 50%;
    background-color: #017143;
}

.extras img{
    background-image: url(./imagens/copo-verde.png);
}